.success_text
{
    color:#38631d;
}

.alert_text
{
    color:#db7e21;
}

.fail_text
{
    color:#c22121;
}

.success_background
{
    background:#f5fff0;
}

.alert_background
{
    background:#fffaf0;
}

.fail_background
{
    background:#fff4f0;
}



.lh-button-primary
{
    background:#acd037;
    padding:10px;
    color:#f7f7f7;
    border-radius:5px;
    margin:10px;
}

a.lh-button-primary:hover
{
    color:#fff;
    background:#178511;
}

a.lh-button-primary:visited
{
    color:#f7f7f7;
}


#lh_total
{
    font-weight: bold;
    font-size:22px;
}


.quote_subtotal
{
    font-weight: bold;

}


.quote_preview_wrap
{
    width:90%;
    background:#fff;
    /*padding:20px;*/
    border:1px solid #666;
    -webkit-box-shadow: 11px 13px 16px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 13px 16px -15px rgba(0,0,0,0.75);
    box-shadow: 11px 13px 16px -15px rgba(0,0,0,0.75);
    margin-left:auto;
    margin-right:auto;
    max-width:900px;

}



/* Quote overoview on the quotes page */
.quote_overview
{
    border:1px solid #666;
    margin-right:20px;
    padding:20px;
    background:#fff;
    margin-bottom:20px;
}

.quote_overview .quote_title
{
    font-size:20px;
    margin-bottom:10px;
}

.quote_overview .quote_meta
{
    display: flex;
}


.quote_overview .quote_total
{

}

.quote_overview .quote_image
{
    margin-left:auto;
}
.quote_overview .quote_total
{
    padding:5px;
}


/* Custom editor font */
body#tinymce {
    font-family: sans-serif;
    font-size:12px;
}



/* Disable the quote accept link */
.disabled_link{
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    background:#f0f0f0;
    border:1px solid #f7f7f7;
    color:#ccc;
}

.quote_checklist_div
{
    margin-left:auto;
    margin-right:auto;
    width:80%;
}

#quote_checklist
{
    text-align: left;
}

ul#quote_checklist
{
    list-style:none;
}

#quote_checklist input
{
    margin-right:20px;
}



.timeline_item
{
    padding:10px;
    border:1px solid #ccc;
    background:#fff;
    margin:10px 0px;
}



.project_status_boxes
{
    display:flex;
    margin-bottom:20px;
    text-align:center;
}



.project_status_boxes .status_box_item
{
    flex:1;
    min-width:120px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-right:10px;
}

.project_status_boxes .status_box_title
{
    background:#666;
    color:#fff;
    padding:5px;
    margin-top: auto;
}

.project_status_boxes .quote_price_class
{
    font-size:30px;
}

.project_status_boxes .quote_meta_value
{
    padding:20px;
}
